@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[poppins];
    @apply text-gray-300;
  }
  li {
    @apply p-1 pl-0 font-normal text-base;
  }
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
